.vscode/
_api/
api/
apps/
coverage/
docs/
libs/
proxies/
public/
tools/
dist/nxdeps.json

*.log
.angulardoc.json
.editorconfig
.gitignore
.prettierignore
.prettierrc
angular.json
Jenkinsfile
jest.config.js
karma.conf.js
nx.json
project.json
tsconfig.json
tslint.json
